.container{
    display: flex;
    justify-content: center;
}
.left{
    display: flex;
    flex-direction: column;
}
.display{
    border: solid blue 2px;
    border-radius: 20px;
    border-collapse: separate;
    width: 300px;
    margin: 4px;
    background-color: white;
}
button{
    height: 100px;
    width: 100px;
    border-radius: 25%;
    margin: 2px;
}
.right{
    display: flex;
    flex-direction: column;
}
.row1,.row2,.row3,.row4,.row5{
    display: flex;
    margin: 2px;
}
.wrapper{
    background-color: rgb(65, 66, 67);
    padding: 20px;
    border-radius: 25px;
}
button:hover{
    cursor: pointer;
}